  h1 {
    color: CornflowerBlue;
    font-size: 150px;
    background-color: black;
  }
  img {
    background-color: DimGray;
  }
  img {
    background-color: Silver;
  }
 
  p:hover {
	font-size: small;
  }
  #heading {
    color: CornflowerBlue;
  }
  #heading:hover {
    color: LightBlue;
  }
 
  .cat1 {
    background-color: gray;
  }
  .cat1:hover {
    background-color: black;
  }
  .cat2 {
    background-color: red;
  }
  .cat2:hover {
    background-color: orange;
  }
  .circular {
    border-radius: 50%;
  }